html{
	background: #F8F5EC;
	/*button code from https://custom-cursor.com/en/collection/cute-cursors/cute-mocha-bear-book*/
    cursor:url(https://cdn.custom-cursor.com/db/8223/32/mocha-bear-and-book-pointer.png), pointer!important;
}

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/*Help from https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #419CCE; 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2E6D89; 
}

.navigation-top{
	box-sizing: border-box;
	position: fixed;
    width: 100vw;
    background: white;
    height: 180px;
    top: 0;
    justify-content: space-between;
    z-index: 1;
}

#logo{
	max-height: 80px;
	display: flex;
    align-items: center;
    margin-top: 2%;
    margin-left: 4%;
}

a{
	color: black;
	font-size: 14pt;
	font-family: bilo,sans-serif;
	font-weight: 700;
	font-style: normal;
	text-decoration: none;
	text-decoration-color: none;
	-webkit-transition: color 1.5s;
	transition: color 1s;
}

a:hover {
	letter-spacing: 0.08em;
	transition: 0.3s;
	color: #419CCE;
}

ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 50px;
}

li{
	list-style: none;	
	display: inline-block;
	margin-left: 1.3%;
	align-content: space-evenly;
}

.website-content{
	align-content: left;
	width: 100%;
	height: 100%;
	background: #F8F5EC;
	margin-top: 180px;

}

/*Help from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto*/
/* Slideshow container */
.slideshow-container{
  position: relative;
  margin: auto;
  grid-area: content;
}

/* Caption text */
.text {
  color: black;
  font-size: 20pt;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 20pt;
  padding: 2% 2%;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 10pt;
  width: 10pt;
  margin: 0 2px;
  background-color: darkgrey;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active {
  background-color: #419CCE;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.branches{
	display: grid;
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;
	grid-template-columns: auto;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
	grid-template-areas:
	"header header"
	"content content";
}

.info-title{
	grid-area: header;
	font-size: 40pt;
	color: black;
	font-family: tuppence,serif;
	font-weight: 900;
	font-style: bold;
}

.info-title:hover{
	letter-spacing: 0.08em;
	transition: 0.3s;
	color: #419CCE;
}

.library-info{
	font-family: bilo,sans-serif;
	font-weight: 700;
	font-style: normal;
	grid-area: sidebar sidebar;
}

.library-info:hover{						/*branch info animation here*/
	color: sandybrown;
	transition: all 0.2s;
}

.calendar-title{
	padding-top: 3%;
	padding-left: 5%;
}








/*Events & Programs Starts Here*/



















/*Log in page starts here*/
h2{

/*	font-family: bilo,sans-serif;
	font-weight: 700;
	font-style: normal;*/
}

.login{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
	"header header"
/*	"content content"*/
	"content sidebar";
	margin-left: 3%;
	padding-top: 3%;
	padding-left: 3%;
}

.sitting-book{
	float: right;
	width: 27vw;
	margin-left: 22%;
	z-index: 2;
	grid-area: sidebar;
}

/*help from https://www.w3schools.com/howto/howto_css_login_form.asp
/Log in field starts here*/
form {
  grid-area: content;
}

b{
	color: black;
	font-family: bilo,sans-serif;
	font-weight: 700;
	font-style: normal;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #419CCE;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}







.contact-container{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
	"header"
	"header"
	"header"
	"header";
	padding-top: 0;
	padding-left: 14%;
	padding-right: 14%;
}

.message-box{
	height: 22vh;
}









h1{
	font-size: 40pt;
	color: black;
	font-family: tuppence,serif;
	font-weight: 900;
	grid-area: header;
	-webkit-transition: color 1.5s;
	transition: color 1s;
}

h1:hover {
	letter-spacing: 0.08em;
	transition: 0.3s;
	color: #419CCE;
}

.e-card{
	padding-top: 3%;
	padding-left: 15%;
	padding-right: 15%;
}

.e-card-info, .e-card-register-info, .e-card-subinfo, .e-cards-fields{
	font-family: bilo,sans-serif;
	font-weight: 700;
	font-style: normal;
}

.e-card-register-info:hover{
	color: sandybrown;
	transition: all 0.2s;
}












